nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }
nav .btn {
  color: #aa98a6;
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: #2C2B38;
  border-color: #06031c;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem; }
  nav .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-color: #2C2B38;
    background-color: #06031c; }
  nav .btn + .btn {
    margin-left: 1rem; }
  @media screen and (min-width: 64em) {
    nav .btn {
      padding: 0.75rem 1rem;
      font-size: 1.4rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    nav .btn {
      padding: 0.6rem 0.9rem;
      font-size: 1.3rem; } }
  @media screen and (max-width: 42em) {
    nav .btn {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 1.2rem; }
      nav .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

* {
  box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  color: #efefef;
  background-color: #2C2B38;
  background-image: linear-gradient(120deg, #06031c, #2C2B38); }

a {
  color: #aa98a6; }

p {
  line-height: 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #09040f; }

/**
  * Main Header Stuff
  */
.page-header {
  text-align: center;
  background-color: #f1edf7;
  background-image: linear-gradient(120deg, #807d84, #f1edf7); }

.header-title {
  margin-top: 0;
  margin-bottom: 0.1rem; }
  @media screen and (min-width: 64em) {
    .header-title {
      font-size: 3.25rem;
      padding: 1rem 4rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .header-title {
      font-size: 2.25rem;
      padding: 1rem 2rem; } }
  @media screen and (max-width: 42em) {
    .header-title {
      font-size: 1.75rem;
      padding: 2rem 1rem; } }

.header-slogan {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  color: #2C2B38; }
  @media screen and (min-width: 64em) {
    .header-slogan {
      font-size: 1.25rem;
      max-width: 40em;
      margin: 0 auto;
      padding: 0 4rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .header-slogan {
      font-size: 1.15rem;
      padding: 0 2rem; } }
  @media screen and (max-width: 42em) {
    .header-slogan {
      font-size: 1rem;
      padding: 2rem 1rem; } }

.header-carousel {
  padding-bottom: 1rem; }
  @media screen and (min-width: 64em) {
    .header-carousel {
      max-width: 32rem;
      margin: 0 auto; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .header-carousel {
      max-width: 38rem;
      margin: 0 auto; } }
  @media screen and (max-width: 42em) {
    .header-carousel {
      max-width: 20rem;
      margin: 0 auto; } }
  .header-carousel img {
    width: 100%;
    height: auto; }

.header-nav {
  padding-top: 1rem; }
  @media screen and (min-width: 64em) {
    .header-nav {
      font-size: 1.55rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .header-nav {
      font-size: 1.45rem; } }
  @media screen and (max-width: 42em) {
    .header-nav {
      font-size: 1.25rem; } }

.container .content {
  word-wrap: break-word; }
  .container .content :first-child {
    margin-top: 0; }
  @media screen and (min-width: 64em) {
    .container .content {
      max-width: 64em;
      margin: 0 auto;
      padding: 1rem 4rem;
      font-size: 1.1rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .container .content {
      padding: 1rem 2rem;
      font-size: 1.1rem; } }
  @media screen and (max-width: 42em) {
    .container .content {
      padding: 2rem 1rem;
      font-size: 1rem; } }
  .container .content h2,
  .container .content h3,
  .container .content h4 {
    color: #aa98a6;
    font-size: 2rem; }
  .container .content p {
    margin-bottom: 1em; }

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 64em) {
    footer {
      font-size: 1.2rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    footer {
      font-size: 1.2rem; } }
  @media screen and (max-width: 42em) {
    footer {
      font-size: 1.1rem; } }
  footer .footer-nav {
    font-size: 4rem; }

/*# sourceMappingURL=styles.css.map */
