<section id="about" aria-labelledby="about-title"
  class="relative scroll-mt-14 pb-3 pt-8 sm:scroll-mt-32 sm:pb-16 sm:pt-10 lg:pt-16">
  <div class="absolute inset-x-0 bottom-0 top-1/2 text-slate-900/10 [mask-image:linear-gradient(transparent,white)]">
    <svg aria-hidden="true" class="absolute inset-0 h-full w-full">
      <defs>
        <pattern id=":S6:" width="128" height="128" patternUnits="userSpaceOnUse" x="50%" y="100%">
          <path d="M0 128V.5H128" fill="none" stroke="currentColor"></path>
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#:S6:)"></rect>
    </svg></div>
  <div class="relative mx-auto max-w-5xl pt-16 sm:px-6">
    <div class="bg-slate-50 pt-px sm:rounded-6xl">
      <div
        class="relative mx-auto -mt-16 h-44 w-44 overflow-hidden rounded-full bg-slate-200 md:float-right md:h-64 md:w-64 md:[shape-outside:circle(40%)] lg:mr-20 lg:h-72 lg:w-72">
        <img alt="" loading="lazy" width="576" height="576" decoding="async" data-nimg="1"
          class="absolute inset-0 h-full w-full object-cover" style="color:transparent"
          sizes="(min-width: 1024px) 18rem, (min-width: 768px) 16rem, 11rem"
          src="{{ site.baseurl }}/assets/images/Placeholder.png"></div>
      <div class="px-4 py-10 sm:px-10 sm:py-16 md:py-20 lg:px-20 lg:py-32">
        <p class="mt-8 font-display text-5xl font-extrabold tracking-tight text-sBlue sm:text-6xl"><span
            class="block text-sRed">Scott DeCurtis–</span> Hey there, I’m the founder of 128 Consulting.</p>
        <p class="mt-4 text-lg tracking-tight text-sGray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper feugiat nibh sed pulvinar proin gravida. Et odio pellentesque diam volutpat commodo. Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Eu augue ut lectus arcu bibendum. In hendrerit gravida rutrum quisque. Vel eros donec ac odio tempor orci dapibus. Turpis cursus in hac habitasse platea dictumst quisque sagittis purus.
          Fusce id velit ut tortor pretium viverra. Nulla porttitor massa id neque. Viverra ipsum nunc aliquet bibendum. Netus et malesuada fames ac turpis egestas maecenas. Pellentesque dignissim enim sit amet venenatis urna. Ut eu sem integer vitae justo eget. Tristique senectus et netus et. Facilisis magna etiam tempor orci eu lobortis elementum. Tempus iaculis urna id volutpat lacus. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Tortor posuere ac ut consequat semper. Nec nam aliquam sem et tortor consequat id porta nibh.<br />
        <p class="mt-8"><a class="inline-flex items-center text-base font-medium tracking-tight text-slate-900"
            href="#"><svg aria-hidden="true" viewBox="0 0 24 24" class="h-10 w-10 fill-current">
              <path
                d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8132L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z">
              </path>
            </svg><span class="ml-4">Follow on X</span></a></p>
      </div>
    </div>
  </div>
</section>