<footer class="footer">
  <div class="section section--footer items-center">
    <div class="flex flex-row items-center justify-between gap-6 sm:flex-row text-dWhite">
      <div class="flex flex-row flex-wrap justify-enter gap-x-6 text-sm font-medium text-center md:text-left">
        <a href="mailto:{{ site.email }}">{% include github.html %}</a>
        <a class="transition" href="mailto:{{ site.email }}">{% include linkedin.html %}</a>
        <a class="transition" href="mailto:{{ site.email }}">{% include spotify.html %}</a>
        <a class="transition" href="mailto:{{ site.email }}">{% include email.html %}</a>
      </div>
      <div class="h-full items-center">
        <p class="text-sm">©2024 {{ site.title }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>