<div id="heading" aria-labelledby="#page-title" class="section section--heading relative">
  <div class="section__styles">
    <div class="section__content text-wrap self-center">
      <h1 id="page-title" class="section__title font-display text-4xl font-extrabold tracking-tight text-dWhite">
        {{ page.header }}
      </h1>
      <p class="section__text">{{ page.subheader }}</p>
    </div>
    <div class="relative mx-auto -mt-8 h-40 w-48 overflow-hidden rounded-full bg-gray-200 md:float-right md:h-60 md:w-72 md:[shape-outside:circle(40%)]">
      <img alt="" loading="lazy" width="200" height="200" decoding="async" data-nimg="1"
          class="absolute inset-0 h-full w-full object-cover" style="color:transparent"
          sizes="(min-width: 1024px) 18rem, (min-width: 768px) 16rem, 11rem"
        src="{{ site.baseurl }}/assets/images/mugshot.jpg" />
    </div>
  </div>
</div>