<header class="section section--header">
  <div class="block">
    <div class="relative flex items-center lg:col-span-1 lg:row-span-2">
      <img alt="logo"
        fetchpriority="high" width="200" height="200" decoding="async" data-nimg="1"
        class="w-auto h-24"
        style="color:transparent"
        src="{{site.baseurl}}/assets/images/dplogo.png" />
    </div>
    <div class="lg:col-span-3 lg:bg-transparent items-center lg:pl-16 lg:pt-0">
      <div class="mx-auto w-full px-4 justify-items-end sm:px-6 md:max-w-2xl md:px-4 lg:px-0 text-dWhite">
        <div class="mt-8 flex gap-4">
          <a class="button" href="#about">about</a>
          <a class="button" href="#interests">interests</a>
          <a class="button" href="#skills">skills</a>
          <a class="button" href="#cv">cv</a>
        </div>
      </div>
    </div>
  </div>
</header>