<section id="services" aria-label="Services" class="pb-16 pt-20 sm:pb-20 md:pt-36 lg:py-32">
  <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12 text-lg tracking-tight text-slate-700">
    <h2 class="text-6xl text-sRed py-4">Services</h2>
    <p class="font-display text-4xl font-bold tracking-tight text-sGray py-4">“Everything Starts Somewhere” is lorem ipsum something here and another something here for you to put.</p>
    <p class="my-2">Here are some of the services that I offer</p>
    <ul role="list" class="my-6 space-y-3">
      <li class="flex">{% include checkmark.html %}<span class="ml-4">Aliquam sem et tortor consequat id.</span>
      <li class="flex">{% include checkmark.html %}<span class="ml-4">Sem viverra aliquet eget sit amet tellus cras.</span></li>
      <li class="flex">{% include checkmark.html %}<span class="ml-4">Augue interdum velit euismod in pellentesque.</span></li>
      <li class="flex">{% include checkmark.html %}<span class="ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquas.</span></li>
    </ul>
    <p class="mt-8">By the end of the experince, you’ll have everything you want.</p>
  </div>
</section>