@import 'mixins';

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
  
  .btn {
    color: $primary-link-color;
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: $primary-bg-color;
    border-color: $primary-bg-color-secondary;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      border-color: $primary-bg-color;
      background-color: $primary-bg-color-secondary;
    }

    + .btn {
      margin-left: 1rem;
    }

    @include large {
      padding: 0.75rem 1rem;
      font-size: 1.6rem;
    }

    @include medium {
      padding: 0.6rem 0.9rem;
      font-size: 1.8rem;
    }

    @include small {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 2.2rem;

      + .btn {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }

  .resume-mobile {

    @include large {
      display: none;
    }
    @include medium{
      display: inline-block;
    }
    @include small{
      display: inline-block;
    }
  }

  .resume-desktop {

    @include large {
      display: inline-block;
    }
    @include medium{
      display: none;
    }
    @include small{
      display: none;
    }
  }
   
}
