// Body
$max-width: 64em;
$font-stack: Helvetica, sans-serif;
$primary-color: #efefef;
$primary-link-color: #aa98a6;
$primary-bg-color: #2C2B38;
$primary-bg-color-secondary: #06031c;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-bg-color: #f1edf7;
$header-bg-color-secondary: #807d84;
$header-color: #09040f;
$header-color-secondary: #2C2B38;

// Footers
$footer-bg-transparency: rgba(0, 0, 0, 0.2);
$footer-bg-color: #2C2B38;
$footer-bg-color-secondary: #06031c;

$large-padding: 2rem 4rem 1rem;
$medium-padding: 1rem 2rem;
$small-padding: 2rem 1rem;
