// Body
$font-stack: Helvetica, sans-serif;
$primary-color: #efefef;
$primary-bg-color: #080811;
$primary-bg-color-secondary: #eee;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;
$header-color: #fff;

// Footers
$footer-bg-color: #2C2B38;
$footer-bg-color-secondary: #06031c;
