// Body
$primary-bg-color: #080811;
$primary-bg-color-secondary: #eee;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$font-stack: Helvetica, sans-serif;
$header-text-color: #fff;
$primary-text-color: #333;
$primary-color: #333;

// Footers
$footer-bg-color: #2C2B38;
$footer-bg-color-secondary: #06031c;
