@import 'navigation';
@import 'reset';
@import 'variables';

body {
  font: 100% $font-stack;
  color: $primary-bg-color;
  background-color: $primary-bg-color;
}

nav {
  margin-top: 1rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $header-text-color;
}

.header {
  background-color: $header-bg-color;
}
