@import 'navigation';
@import 'reset';
@import 'variables';

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-bg-color;
  background-image: linear-gradient(120deg, $primary-bg-color-secondary, $primary-bg-color);
}

a {
  color: $primary-link-color;
}


nav {
  margin-top: 1rem;
}

nav a {
}

p {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $header-color;
}

.container {
}
/**
  * Main Header Stuff
  */
.page-header {
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}

.header-title {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
    padding: $large-padding;
  }
  @include medium {
    font-size: 2.25rem;
    padding: $medium-padding;
  }
  @include small {
    font-size: 1.75rem;
    padding: $small-padding; 
  }
}
.header-slogan {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
		max-width: $max-width;
		margin: 0 auto;
    padding: $large-padding;
  }

  @include medium {
    font-size: 1.15rem;
    padding: $medium-padding;
  }

  @include small {
    font-size: 1rem;
    padding: $small-padding; 
  }

}
.header-carousel {
}
.header-nav {
}

.container {

  .content {
		word-wrap: break-word;

		:first-child {
			margin-top: 0;
		}

		@include large {
			max-width: $max-width;
			margin: 0 auto;
			padding: $large-padding;
			font-size: 1.1rem;
		}

		@include medium {
			padding: $medium-padding;
			font-size: 1.1rem;
		}

		@include small {
			padding: $small-padding;
			font-size: 1rem;
		}


		p {
			margin-bottom: 1em;
		}

  }
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
	background-color: $footer-bg-transparency;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }

	.footer-nav {
		font-size: 2rem;
	}
}
