@import 'navigation';
@import 'reset';
@import 'variables';

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-bg-color;
}

a {
  color: $primary-link-color;
}


nav {
  margin-top: 1rem;
}

nav a {
}

p {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $header-color;
}

.header {
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: $footer-bg-color;
  background-image: linear-gradient(120deg, $footer-bg-color-secondary, $footer-bg-color);
}
