<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="{{ site.baseurl }}/_files/DonovanPalmerResumeJune2018.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
        <div id="my-picture">
          <img src="/images/dp-balt-drupalcon.jpg" /><br />
          <div class="caption">Drupalcon Baltimore!</div>
        </div>
			
			{{ content }}
      
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:donovan@donovanpalmer.net">email</a></li>
	        		<li><a href="https://github.com/dgpalmer">github.com/dgpalmer</a></li>
              <li><a href="https://www.drupal.org/u/dpalmer">drupal.org/u/dpalmer</a></li>
				</ul>
			</footer>
		</body>
	</html>
